@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
.nav-container {
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Space between left and right */
  align-items: center; /* Center vertically */
  background: gold; 
  height: 80px;
  font-family: 'Roboto', sans-serif;
}

#logo {
  height: auto; /* Maintain aspect ratio */
  width: 250px; /* Set width */
  margin-left: 10px; /* Space between logo and navbar items */
}

.left {
  display: flex;
  align-items: center; /* Center logo vertically */
}

.right {
  display: flex;
  align-items: center; /* Center button vertically */
}

.btn {
  background-color: #ee9b00; /* Button background */
  color: #fff; /* Button text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Padding for button */
  border-radius: 5px; /* Rounded button */
  font-size: 1em; /* Button text size */
  transition: background-color 0.3s ease; /* Transition for hover effect */
  cursor: pointer; /* Pointer cursor on hover */
}

.btn:hover {
  background-color: #ca6702; /* Darker shade on hover */
}

.navbar-brand {
  text-decoration: none; /* Remove underline from links */
}
